<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ConfigurationConstant.ProjectTitle</title>
    <meta name="keywords" content="fanur.uz, fanur, fanur uz, fanur o'quv markazi, ingliz tili, fanur group" />
    <meta name="description" content="Official website of Fanur Group" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/lib/main_template/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/sal.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/feather.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="~/lib/main_template/assets/css/style.css">
</head>

<body class="rbt-header-sticky">
    <!-- Start Header Area -->
    <header class="rbt-header rbt-header-10">
        <div class="rbt-sticky-placeholder"></div>
        <div class="rbt-header-wrapper header-space-betwween header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-center align-items-center">
                    <div class="header-left rbt-header-content">
                        <div class="header-info">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home" class="\!text-center">
                                    <img src="~/logo.png" alt="Fanur Group logo">
                                    Fanur Group
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu flex justify-between items-center">
                                <li>
                                    <a asp-action="Index" asp-controller="Home">@Localizer["home_page"]</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item">
                                    <a asp-action="FirstProject" asp-controller="Home">@Localizer["projects"]<i
                                            class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-2">
                                        <div class="wrapper">
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item" style="width: 100%;">
                                                    <ul class="mega-menu-item">
                                                        <li><a asp-action="FirstProject"
                                                                asp-controller="Home">@Localizer["projects_first"]</a>
                                                        </li>
                                                        <li><a asp-action="SecondProject"
                                                                asp-controller="Home">@Localizer["projects_second"]</a>
                                                        </li>
                                                        <li><a asp-action="ThirdProject"
                                                                asp-controller="Home">@Localizer["projects_third"]</a>
                                                        </li>
                                                        <li><a asp-action="FourthProject"
                                                                asp-controller="Home">@Localizer["projects_fourth"]</a>
                                                        </li>
                                                        <li><a asp-action="FifeProject"
                                                                asp-controller="Home">@Localizer["projects_fife"]</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li>
                                    <a asp-action="AboutUs" asp-controller="Home">@Localizer["our_team"]</a>
                                </li>

                                <li>
                                    <a asp-action="ContactUs" asp-controller="Home">@Localizer["contact_with_us"]</a>
                                </li>                                
                            </ul>
                        </nav>
                    </div>

                    <ul class="rbt-dropdown-menu switcher-language flex space-x-4" style="display: flex;">
                        <li class="has-child-menu">
                            <a>
                                <span class="menu-item">@Localizer["change_the_language"]</span>
                                <i class="right-icon feather-chevron-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a asp-action="SetLanguage" asp-controller="Home"
                                        asp-route-returnurl="@Context.Request.Path"
                                        asp-route-culture="en">
                                        <img class="left-image"
                                            src="/images/icons/en.png"
                                            alt="Language Images">
                                        <span class="menu-item">English</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="SetLanguage" asp-controller="Home"
                                        asp-route-returnurl="@Context.Request.Path"
                                        asp-route-culture="ru">
                                        <img class="left-image"
                                            src="/images/icons/ru.png"
                                            alt="Language Images">
                                        <span class="menu-item">Русский</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="header-right">
                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a asp-action="Index" asp-controller="Home" class="\!text-center">
                            <img src="~/logo.png" alt="Fanur Group logo">
                            Fanur Group
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <p class="description">@Localizer["mobile_description"]</p>
                <ul class="navbar-top-left rbt-information-list justify-content-start">
                    <li>
                        <a href="mailto:@ConfigurationConstant.EmailAddres"><i
                                class="feather-mail"></i>@ConfigurationConstant.EmailAddres</a>
                    </li>
                    <li>
                        <a href="tel:@ConfigurationConstant.TelephoneNumber"><i class="feather-phone"></i>@ConfigurationConstant.TelephoneNumber</a>
                    </li>
                    <li>
                        <a href="@ConfigurationConstant.InstagramLink"><i class="fab fa-instagram"></i>Instagram</a>
                    </li>
                    <li>
                        <a href="@ConfigurationConstant.TelegramLink"><i class="fab fa-telegram"></i>Telegram</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li>
                        <a asp-action="Index" asp-controller="Home">@Localizer["home_page"]</a>
                    </li>

                    <li class="with-megamenu has-menu-child-item">
                        <a href="#">@Localizer["project"]<i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <div class="rbt-megamenu grid-item-2">
                            <div class="wrapper">
                                <div class="row row--15">
                                    <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item">
                                        <h3 class="rbt-short-title">@Localizer["project"]</h3>
                                        <ul class="mega-menu-item">
                                            <li><a asp-action="FirstProject"
                                                    asp-controller="Home">@Localizer["projects_first"]</a></li>
                                            <li><a asp-action="SecondProject"
                                                    asp-controller="Home">@Localizer["projects_second"]</a></li>
                                            <li><a asp-action="ThirdProject"
                                                    asp-controller="Home">@Localizer["projects_third"]</a></li>
                                            <li><a asp-action="FourthProject"
                                                    asp-controller="Home">@Localizer["projects_fourth"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Mega Menu  -->
                    </li>

                    <li>
                        <a asp-action="AboutUs" asp-controller="Home">@Localizer["our_team"]</a>
                    </li>

                    <li>
                        <a asp-action="ContactUs" asp-controller="Home">@Localizer["contact_with_us"]</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    </div>

    @RenderBody()

    <!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
        <div class="footer-top">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home" class="\!text-center">
                                    <img src="/logo.png" alt="Fanur Group">
                                    Fanur Group
                                </a>
                            </div>

                            <p class="description mt--20">
                                @Localizer["footer_description"]
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">@Localizer["our_company"]</h5>
                            <ul class="ft-link">
                                <li>
                                    <a asp-action="FirstProject" asp-controller="Home">@Localizer["projects"]</a>
                                </li>
                                <li>
                                    <a asp-action="AboutUs" asp-controller="Home">@Localizer["our_team"]</a>
                                </li>
                                <li>
                                    <a asp-action="ContactUs" asp-controller="Home">@Localizer["contact_with_us"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">@Localizer["for_contact"]</h5>
                            <ul class="ft-link">
                                <li><a href="https://www.instagram.com/the_fanur_group"><i class="fab fa-instagram"></i> @Localizer["instagram"]</a></li>
                                <li><a href="https://t.me/fanur_administration"><i class="fab fa-telegram"></i> @Localizer["telegram"]</a></li>
                                <li><a href="tel:@ConfigurationConstant.TelephoneNumber"><i class="feather-phone"></i> @ConfigurationConstant.TelephoneNumber</a></li>
                                <li><a href="mailto:@ConfigurationConstant.EmailAddres"><i class="feather-mail"></i> @ConfigurationConstant.EmailAddres</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-style-1 ptb--20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                        <p class="rbt-link-hover text-center text-lg-start">@Localizer["footer_text"]</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer aera -->

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/lib/main_template/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/lib/main_template/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/lib/main_template/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/lib/main_template/assets/js/vendor/sal.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/swiper.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/magnify.min.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/odometer.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/backtotop.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/isotop.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/imageloaded.js"></script>

    <script src="~/lib/main_template/assets/js/vendor/wow.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/easypie.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/text-type.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/paralax.min.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/countdown.js"></script>
    <script src="~/lib/main_template/assets/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="~/lib/main_template/assets/js/main.js"></script>
</body>

</html>