<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-team-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/nurullahon_nazrullayev.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_1_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_1_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/farrux_aminov.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_2_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_2_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/mirjalol_xolmuradov.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_3_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_3_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/kamola_xasanova.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_4_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_4_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/farruh_mahmudovich.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_5_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_5_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/ruzimurod_abdunazarov.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_6_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_6_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/farrux_aminov.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_7_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_7_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail" style="text-align: center;">
                            <img style="width:200px; align-items: center;"
                                src="~/lib/main_template/assets/images/fanur-about-us/mahmud_salohitdinov.jpg"
                                alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h4 class="title">@Localizer["person_8_name"]</h4>
                            <h6 class="subtitle theme-gradient">@Localizer["person_8_position"]</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
        </div>
    </div>
</div>
