@model ContactUsVM;
<a class="close_side_menu" href="javascript:void(0);"></a>

@{
    var contactInfos = new List<ContactInfoVM>
    {
        new ContactInfoVM { IconClass = "feather-headphones", TitleKey = "telephone_contact_numbers", ContentList = new List<string> { ConfigurationConstant.TelephoneNumberFirst, ConfigurationConstant.TelephoneNumberSecond }, LinkPrefix = "tel:" },
        new ContactInfoVM { IconClass = "feather-mail", TitleKey = "our_email_address", Content = ConfigurationConstant.EmailAddres, LinkPrefix = "mailto:" },
        new ContactInfoVM { IconClass = "feather-map-pin", TitleKey = "our_address", Content = Localizer["full_address"].Value.ToString() }
    };
}

<div class="rbt-conatct-area bg-gradient-11 rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            @foreach (var info in contactInfos)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                    <div class="rbt-address">
                        <div class="icon">
                            <i class="@info.IconClass"></i>
                        </div>
                        <div class="inner">
                            <h4 class="title">@Localizer[info.TitleKey]</h4>
                            <p>
                                @if (info.ContentList != null && info.ContentList.Any())
                                {
                                    foreach (var content in info.ContentList)
                                    {
                                        <a href="@($"{info.LinkPrefix}{content}")">@content</a><br />
                                    }
                                }
                                else if (!string.IsNullOrEmpty(info.LinkPrefix) && !string.IsNullOrEmpty(info.Content))
                                {
                                    <a href="@($"{info.LinkPrefix}{info.Content}")">@info.Content</a>
                                }
                                else
                                {
                                    @info.Content
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
