<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="content">
                    <iframe class="w-100 radius-10" width="1008" height="567"
                        src="https://www.youtube.com/embed/tQaqrLKDIjw" title="Fanur Group" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                    <div class="section-title text-start">
                        <h2 class="title">
                            @Localizer["fife_complete_projects"]
                        </h2>
                        <p class="description mt--20">
                            <strong>
                                @Localizer["fife_complete_projects_description"]
                            </strong>
                        </p>
                        <h5 class="mb--20">
                            @Localizer["fife_complete_projects_title"]
                        </h5>
                        <div class="plan-offer-list-wrapper">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>
                                    @Localizer["fife_complete_projects_first"]
                                </li>
                                <li><i class="feather-check"></i>
                                    @Localizer["fife_complete_projects_second"]
                                </li>
                                <li><i class="feather-check"></i>
                                    @Localizer["fife_complete_projects_third"]
                                </li>
                                <li><i class="feather-check"></i>
                                    @Localizer["fife_complete_projects_fife"]
                                </li>
                                <li><i class="feather-check"></i>
                                    @Localizer["fife_complete_projects_fife"]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>