@{
    var mainVideoUrl = "https://www.youtube.com/embed/tQaqrLKDIjw";
    var popupVideoUrl = "https://www.youtube.com/watch?v=nA1Aqp0sPQo";

    var serviceIconsPath = "/images/icons/";

    var peopleImagesPath = "/images/fanur/";

    var brandImagesPath = "/images/partner/";

    var services = new List<(string IconPath, string TitleKey, string DescriptionKey)>
    {
        (serviceIconsPath + "icons-01.png", "brush_courses_title", "brush_courses_description"),
        (serviceIconsPath + "icons-02.png", "on_computers", "on_computers_description"),
        (serviceIconsPath + "icons-03.png", "communication_with_teachers_as_well", "communication_with_teachers_as_well_description")
    };

    var people = new List<(string ImagePath, string NameKey, string DescriptionKey, string Delay)>
    {
        (peopleImagesPath + "person_1.jpg", "person_one", "person_one_description_main_index", "150"),
        (peopleImagesPath + "person_2.jpg", "person_two", "person_two_description_main_index", "200"),
        (peopleImagesPath + "person_3.jpg", "person_three", "person_three_description_main_index", "250")
    };

    var testimonials = new List<(string ImagePath, string AltText)>
    {
        (brandImagesPath + "partner_1.png", "Our partner 1"),
        (brandImagesPath + "partner_2.png", "Our partner 2"),
        (brandImagesPath + "partner_3.png", "Our partner 3"),
        (brandImagesPath + "partner_4.png", "Our partner 4"),
        (brandImagesPath + "partner_5.png", "Our partner 5"),
        (brandImagesPath + "partner_6.png", "Our partner 6"),
        (brandImagesPath + "partner_7.png", "Our partner 7"),
        (brandImagesPath + "partner_8.png", "Our partner 8"),
        (brandImagesPath + "partner_9.png", "Our partner 9"),
        (brandImagesPath + "partner_10.png", "Our partner 10")
    };
}

<!-- Start Slider Area -->
<div class="rbt-splash-slider d-flex align-items-center">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                    <div class="inner">
                        <h1 class="title" style="font-size: 50px;">
                            @Localizer["the_word_next_to_the_video_is_main_index"]
                        </h1>
                        <p class="description">
                            @Localizer["the_word_next_to_the_video_is_main_index_detail"]
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                    <div class="video-popup-wrapper">
                        <iframe class="w-100 rbt-radius" width="1280" height="536"
                            src="@mainVideoUrl" title="test title" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none"
                            href="@popupVideoUrl">
                            <span class="play-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row mt--50">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2 class="title">@Localizer["our_services"]</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="splash-service-main position-relative">
                        <div class="service-wrapper service-white">
                            <!-- Start Services -->
                            <div class="row g-0">
                                @foreach (var service in services)
                                {
                                    <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="@service.IconPath" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">@Localizer[service.TitleKey]</h4>
                                                <p>@Localizer[service.DescriptionKey]</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Slider Area -->

<!-- Start Coding Quality Area -->
<div class="rbt-splash-coding-quality-area bg-color-white rbt-section-gapBottom">
    <div class="wrapper">
        <div class="container" style="max-width: 50% !important;">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Localizer["we_have_such_courses"]</h2>
                    </div>
                </div>
            </div>
            <!-- Start People Section -->
            <div class="row g-5">
                @foreach (var person in people)
                {
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="@person.Delay" data-sal="slide-up" data-sal-duration="800">
                        <div class="top-features-box h-100 text-center" style="background:#142e51">
                            <div class="inner">
                                <div class="thumbnail">
                                    <img src="@person.ImagePath" alt="Image">
                                </div>
                                <div class="content">
                                    <h4 class="title">@Localizer[person.NameKey]</h4>
                                    <h6 class="title">@Localizer[person.DescriptionKey]</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }            
            </div>
        </div>
    </div>
</div>
<!-- End Coding Quality Area -->
<br>

<!-- Start Testimonial Area -->
<div class="rbt-splash-testimonial-area bg-color-white overflow-hidden position-relative">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Localizer["feedback_description"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pb--60">
        <div class="scroll-animation-wrapper no-overlay mt--50">
            <div class="scroll-animation scroll-right-left">
                @foreach (var testimonial in testimonials)
                {
                    <!-- Start Single Testimonial -->
                    <div class="single-column-20" style="width: 300px; height: 300px;">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <a>
                                    <img width="200px" height="200px" src="@testimonial.ImagePath" alt="@testimonial.AltText">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                }
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Area -->
